ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
ul li a{
  height: 15rem;
  width: 20rem;
  border:1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  background-color: #a5989855;
}
li a :hover{
  opacity: 0.9;
  cursor: pointer;
}
.content{
  padding: .1rem 1rem;
  position: relative;
}
.favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favorite.not{
  color: black;
}
.star{
  margin-bottom: .2rem;
}
.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags{
  font-size: small;
  color: red;
}
div li{
width: fit-content;
}

.containers{
  width: 90%;
  margin: 0 auto;
}
h1{
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  margin-left: 12px;
}



.dropbtn {
  background-color: #FF0000	;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.category-buttons{
  display: block;
  margin-left: 100px;
  justify-content: space-between;
  margin-bottom: 100px !important;
}
.par{
  margin: 25px 0 0 100px !important;
}










