ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
ul li a{
  height: 15rem;
  width: 20rem;
  border:1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  background-color: #a5989855;
}
li a :hover{
  opacity: 0.9;
  cursor: pointer;
}
.content{
  padding: .1rem 1rem;
  position: relative;
}
.favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favorite.not{
  color: black;
}
.star{
  margin-bottom: .2rem;
}
.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tags{
  font-size: small;
  color: red;
}
div li{
width: fit-content;
}

.containers{
  width: 90%;
  margin: 0 auto;
}
h1{
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  margin-left: 12px;
}







