<!-- <div *ngIf="orders && orders.length; else NoData"> -->
  <div class="orders" >
    <table class="table table-responsive table-hover table-light table-bordered ">
      <thead>
        <tr class="text-center">
          <th>User</th>
          <th>orderItems</th>
          <th>payAmount</th>
          <th>paymentMethod</th>
          <th>submitDate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders.data">
          <td class="text-center">{{account.email}}</td>
          <td>
            <table class="table table-light">
              <thead>
                <tr>
                  <th>product</th>
                  <th>quantity</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oi of order.orderItems">
                  <td>{{oi.product.name}}</td>
                  <td>{{oi.quantity}} τμχ</td>
                  <td>{{oi.product.price}}&euro;/τμχ</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="text-center">{{order.payAmount}}&euro;</td>
          <td class="text-center">{{order.paymentMethod}}</td>
          <td class="text-center">{{order.submitDate | date:'short'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->

<!-- <ng-template #NoData>
  <div class="noOrders">
    <h3>No Orders History</h3>
    <button class="btn btn-danger" routerLink="/Store">Let's Shop</button>
  </div>
</ng-template> -->


