<app-category-drop></app-category-drop>
<app-store></app-store>
<app-slider-top-ten></app-slider-top-ten>

<app-account></app-account>

<div class="content">
  <div class="col-lg-4 mb-7 mr-auto">
    <img src="assets/3f.png" alt="">
    <h3 class="d-none d-md-block mb-0">
      Δουλεύεις και θες καφέ; Σπίτι μεσημέρι και ποιος μαγειρεύει; Είναι Σαββατοκύριακο και δε θες να σηκωθείς από το
      κρεβάτι αλλά το ψυγείο είναι άδειο γιατί δεν πήγες supermarket. Έρχεται η παρέα και χρειάζεσαι μια κάβα ΤΩΡΑ! Γι'
      αυτό υπάρχει το efood. Ό,τι θέλεις, όποτε το θέλεις - το'χουμε! Παράγγειλε επιλέγοντας ανάμεσα σε 20.000 καταστήματα
      και 100 πόλεις! Αφού το ξέρεις - το efood είναι το delivery στην Ελλάδα! </h3>
  </div>
</div>


