<header>
  <div class="container">
    <a href="" routerLink="/" class="logo">3food</a>
    <nav>
      <ul>
        <li>
          <a><button (click)="openDialog()" class="btn btn-outline">Σύνδεση/Εγγραφή</button></a>
          <a href="" routerLink="/Cart"><div class="cart"><i class="fa fa-shopping-cart lg"></i></div></a>
          <div style="font-size: 10px;" class="badge bg-danger" *ngIf="!(totalItem === 0)">{{totalItem}}</div>
          <a href="" routerLink="/Account" style="color: white;"><i class="fa fa-user fa-xl" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
