<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#"></a>about us</li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">food</a></li>
          <li><a href="#">coffe</a></li>
          <li><a href="#">groceries</a></li>
          <li><a href="#">drinks</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/9gag/" target="_blank"><div class="face"><i class="fab fa-facebook-f"></i></div></a>
          <a href="https://twitter.com/?lang=el" target="_blank"><div class="twi"><i class="fab fa-twitter"></i></div></a>
          <a href="https://www.instagram.com/" target="_blank"><div class="insta"><i class="fab fa-instagram"></i></div></a>
          <a href="https://gr.linkedin.com/company/publicgroupgr?trk=similar-pages" target="_blank"><div class="din"><i class="fab fa-linkedin-in"></i></div></a>
          <a href="#"><div class="you" target="_blank"><i class="fab fa-youtube-play"></i></div></a>
        </div>
      </div>
    </div>
  </div>
</footer>
