div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
div input{
    border-radius: 10rem 0 0 10rem;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
}
div button{
    float: left;
    border: 1px solid grey;
    border-radius: 0 10rem 10rem 0;
    padding-left: 15px;

}
.fa{
    border-radius: 0 10rem 10rem 0;
    color: red;
    padding-right: 6px;
}
