.card-body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(48, 41, 56), rgb(57, 67, 85));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(27, 26, 28), rgb(116, 128, 148))
  }

  .fw-bold{
    color:white;
  }

  .form-label{
    color:white;
  }
