@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~swiper/swiper-bundle.min.css';


*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
