
<section class="stores">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="containers">
    <h1>10 πιο δημοφιλή προϊόντα!</h1>
    <div class="bg-position">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let product of products.data">
          <ul class="sc">
            <li>
              <a href="" routerLink="/Product" (click)="setId(product.store.id)">
                  <img src="{{product.imgURL}}" width="330" height="170" alt="food img">
                  <div class="content">
                    <div class="name">
                      {{product.name}}
                    </div>
                    <div class="product-item-footer">
                      <div class="tags">
                        <span>{{product.storeCategory}}</span>
                      </div>
                    </div>
                  </div>
                </a>
            </li>
          </ul>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
