
body{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  height: 150px;
  width: 100px;
  display: flex;
}

.name-category .name{
  font-size: 15px;
  font-weight: 600;
}

.name-category .category{
  font-size: 15px;
  font-weight: 500;
}

.price{
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: red;
}

